* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    list-style: none; 
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}   

html{
    background-color:white;
}

.container {
    width: 75%;
    height: 600px;
    border: 1px solid #BDBFA8;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px auto auto;
    border-radius: 5px;
    margin-top: 10%;

    box-shadow: 2px 3px 45px -10px rgba(23,72,46,0.52);
    -webkit-box-shadow: 2px 3px 45px -10px rgba(23,72,46,0.52);
    -moz-box-shadow: 2px 3px 45px -10px rgba(23,72,46,0.52);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.header-h1{
    font-size: 80px;
    color: #25261C;
}

.ahorrado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    display: grid;
}

.ahorrado-h2{
    font-size: 30px;
    color: #25261C;
    text-align: center;
}

.ahorrado-total{
    display: flex;
    width: auto;
    background-color: #F2F2F2;
    
}

.ahorrado-p{
    font-size: 70px;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-weight: bold;
}

.ahorrar{
    display: grid;
    grid-template-rows: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #BDBFA8;
    
}

.ahorrar form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputAhorro{
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.ahorrar-boton{
    transition-duration: 0.4s;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-left: 10px;
}

.ahorrar-boton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }